@media (min-width: 739px) and (max-width: 1023px) {
    #slider {
        margin-right: -39px;
    }
    .content-0 p {
        padding: 0 16px;
    }
    
}
@media (max-width: 739px) {
    #nav {
        display: block;
       
    }
    #nav li {
        display: block;
    }
    .search-btn {
        display: none;
    }
    .mobile-menu-btn {
        float: right;
        padding: 14px 21px;
        background: #ccc;
        position: absolute;
        top: 0;
        right: 0%;
    }
    .menu-icon {
        color: #fff;
    
    }
    #content .content-1 {
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
    }
    .member-item {
        width: 100%;
    }
    .tour-section {
        margin-top: 275px;
    }
    #content .content-3 {
       
    }
    #content .content-tour1  {
        width: auto;
    }
    #content .content-0 {
        width: 100%;
        padding: 0 20px;
        margin-left: auto;
        margin-right: auto;
    }
}
@media (min-width: 1024px) {

}